/* Page Top Components */
.top-heading {
  text-align: center;
}

.menu-button {
  margin: 0 2rem;
  color: #000;
}

.menu-button:hover {
  margin: 0 2rem;
  color: #666;
}

/* Footer components */
.footer-info {
  width: 50%;
  font-size: 12px;
}

/* Product component */
.product {
  box-sizing: border-box;
  padding: 1rem;
  background: #f9f8f8;
}

.product-header {
  margin: 0 0 1rem 0;
  padding: 0 0 0.5rem 0;
  text-align: center;
  border-bottom: 1px solid #666;
}

.product-image {
  max-width: 100%;
}

.product-description {
  border-top: 1px dashed #666;
  padding-top: 1rem;
}
