.top-level-wrapper {
  width: 50rem;
  padding: 1rem 2rem;
  background: #fff;
}

.main-menu {
  padding: 0;
  display: flex;
  justify-content: center;
}

.page-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-list-item {
  width: 48%;
  margin-bottom: 2rem;
}