.tabmenu {
  padding: 0;
  display: flex;
}

.tab {
  background: coral;
  color: white;
  border-radius: 5px;
  padding: 4px 8px;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.tab input {
  display: none;
}