body {
  font-family: Arial, Helvetica, sans-serif;
}

.registerform {
  width: 300px;
}

.registerform li {
  list-style: none;
  margin-bottom: 1rem;
}

.registerform li label {
  display: block;
}

.registerform li input:not([type='checkbox']) {
  width: 100%;
}

.registerform li input:invalid {
  border: 1px dashed red;
}

.registerform li input:valid {
  border: 1px solid green;
}
