body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  background: #f1f2f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

#header, #main, #footer {
  width: 50rem;
  padding: 1rem 2rem;
  background: #fff;
}

#header > h1 {
  text-align: center;
}

#header > #mainmenu {
  padding: 0;
  display: flex;
  justify-content: center;
}

#header > #mainmenu > a {
  margin: 0 2rem;
  color: #000;
}

#header > #mainmenu > a:hover {
  margin: 0 2rem;
  color: #666;
}

#footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footer > p {
  width: 50%;
  font-size: 12px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.product-list > li {
  width: 48%;
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 1rem;
  background: #f9f8f8;
}

.product-list > li > h3 {
  margin: 0 0 1rem 0;
  padding: 0 0 0.5rem 0;
  text-align: center;
  border-bottom: 1px solid #666;
}

.product-list > li > img {
  max-width: 100%;
}

.product-list > li > p {
  border-top: 1px dashed #666;
  padding-top: 1rem;
}