html {
  font-family: sans-serif;
}

.chatbox {
  display: block;
  max-width: 20em;
  padding: 1em;
  border-radius: 0.25em;
  background: #3dc1d3;
  color: #fff;
  margin: 1em 0;
}

.chatbox h2 {
  margin: auto;
}

.btn {
  background: #e77f67;
  color: #fff;
  border-radius: 0.25em;
  border: none;
  padding: 0.5em;
  box-shadow: 0px 4px 0px 0px #e15f41;
}

.btn:hover {
  background: #f3a683;
}

.btn:active {
  margin-top: 4px;
  background: #f3a683;
  box-shadow: none;
}

.hidden {
  display: none;
}

.messagelist {
  list-style: none;
  padding: 0;
}

.messagelist li {
  padding: 0.25em;
  border-radius: 0.25em;
  color: #303952;
  margin-bottom: 1rem;
  max-width: 90%;
}

.messagelist li.bot {
  background: #edfdff;
}

.messagelist li.user {
  background: #303952;
  color: #edfdff;
  margin-left: 10%;
}